<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<table>
    <tr>
        <th>名稱</th>
        <th>描述</th>
        <th>價格</th>
        <th>動作</th>
    </tr>
    {% for rec in data %}
    	<tr>
    		<td>{{ rec.name }}</td>
            <td>{{ rec.discribe }}</td>
    		<td>{{ rec.highprice }}</td>
            <td>
                <div class="buttwrap">
                    {% if rec.uID == rec.uID_highprice %}
                    <form action="/fix/{{ rec.gID }}">
                        <input class="fix" type="submit" value="修改">
                    </form>
                    {% endif %}
                    <form action="/info/{{ rec.gID }}">
                        <input class="infor" type="submit" value="詳細資訊">
                    </form> 
                    {% if rec.uID == rec.uID_highprice %}
                    <form action="/deletegoods/{{ rec.gID }}" onsubmit="return confirmDelete()">
                        <input class="delete" type="submit" value="刪除">
                    </form>
                    {% endif %}
                    
                </div>
            </td>
    	</tr>
    {% endfor %}
</table>
</body>
</html>