<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>訂單內容</title>
</head>
<body>
    <p>歡迎，{{data[0].name}}！</p>
    


<table>
    <tr>
        <th>商品</th>
        <th>數量</th>
        <th>價格</th>
        <th>點餐人</th>
        <th>下單時間</th>
    </tr>
    {% for items in data[0].data %}
    {% set total = items[-1] %}
    {% if items[0].status == 0 %}
    <tr><td colspan="5"><hr></td></tr>
    <tr>
        <td colspan="2">總金額：{{ total }} $</td>
        <td>
            <a href="/finish_order?cid={{ items[0].cid }}&time={{ items[0].time }}">製作完成</a>
        </td>
    </tr>
    {% endif %}
    {% for item in items %}
        {% if item.status == 0 %}
        <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.price }} $</td>
            <td>{{ item.cid }}</td>
            <td>{{ item.time }}</td>
        </tr>
        {% endif %}
    {% endfor %}
    {% endfor %}
    
</table>

<a href="/menu?id={{ session['id'] }}">view menu</a>

<form action="/logout" method="POST">
    <input type="submit" value="登出">
</form>

</body>
</html>
