<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<a href="/feedback?rid={{data[0].rid}}">新增評論</a>
<table>
    <tr>
        <th>評分</th>
        <th>評論</th>
    </tr>
    {% for rec in data %}
    <tr>
        <td>{{ rec.rating }}</td>
        <td>{{ rec.content }}</td>
    </tr>
    {% endfor %}
</table>

<button class="back-button" onclick="history.back()">返回上一頁</button>

<form action="/logout">
    <input type="submit" value="登出" class="return">
</form>


</body>
</html>