<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>restaurant</title>
</head>
<body>
<section>
    <h1>餐廳列表</h1>
    <table>
        <tr>
            <th>餐廳名稱</th>
            <th>查看菜單</th>
        </tr>
        {% for rec in data %}
        <tr>
            <td>rec.name</td>
            <td>
                <form action="/{{ rec.gID }}">
                    <input type="submit" value="go">
                </form> 
            </td>
        </tr>
        {% endfor %}
    </table>
    <!-- Return to Personal Page if User is Logged In -->
    <div class="buttons">
        <form action="/logout">
            <input type="submit" value="登出" class="return">
        </form>
    </div>
</section>
</body>
</html>