<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
    <link rel="stylesheet" href="./src/register.css">
</head>
<body>
    <div class="header-container">
        <h1 class="header">Welcome to Join Us!</h1>
    </div>
    <div class="wrong_message">
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                <ul>
                    {% for category, message in messages %}
                        <li class="{{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>
    <section class="login">
        <p class="whatToDo">Create your account</p>
        <form method="post" action="/register">
            <table>
                <tr>
                    <td>選擇身份</td>
                    <td>
                        <select id="role" name="ROLE">
                            <option value="0">餐廳</option>
                            <option value="1">外送員</option>
                            <option value="2">客戶</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Name:</td>
                    <td><input type="text" name="NAME" required></td>
                </tr>
                <tr>
                    <td>Mail:</td>
                    <td><input type="email" name="MAIL" required></td>
                </tr>
                <tr>
                    <td>Set Password:</td>
                    <td><input type="password" name="PWD" required></td>
                </tr>
                <tr>
                    <td>Set address:</td>
                    <td><input type="text" name="ADDRESS" required></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div class="butt">
                            <input class="submit_butt" type="submit" value="Register">
                        </div>
                        <a class="butt" href="/login">Back</a>
                    </td>
                </tr>
            </table>
        </form>
    </section>
</body>
</html>
