<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>餐點詳細資訊</title>
</head>
<body>
<h1>餐點詳細資訊</h1>
<table>
    <caption>訂單資訊</caption>
    <tr>
        <td>商品名稱</td>
        <td>商品數量</td>
        <td>商品價格</td>
        <td>餐點狀態</td>
        <!-- 這裡看要不要加 單價*數量 的金額 -->
    </tr>
    {% for rec in data[0].data %}
    {% if not loop.last %}
        <tr>
            <td>{{ rec.name }}</td>
            <td>{{ rec.quantity }}</td>
            <td>{{rec.price}} $</td>
        </tr>
    {% endif %}
    {% endfor %}

	<tr><td><br></td></tr>
    <tr>
		
        <td>應付價格</td>
		<td></td>
        <td>{{ data[0].total }} $</td>
        {% if data[0].data[0].status == 2 %}
        <td>可取餐</td>
        {% else %}
        <td>未完成</td>
        {% endif %}
    </tr>
    
</table>
<br>
<table>
    <caption>位置資訊</caption>
    <tr>
        <th>餐廳名稱</th>
        <th>餐廳地址</th>
        <th>送餐地址</th>
    </tr>
    {% for rec in data[0].data %}
    {% if loop.first %}
    <tr>
        <td>{{ rec.r_addr }}</td>
        <td>{{ rec.r_name }}</td>
        <td>{{ rec.c_addr }}</td>
    </tr>
    {% endif %}
    {% endfor %}
</table>

{% if data[0].data[0].status == 0%}
<a href="/own_order?oid={{ data[0].data[-1] }}" id="confirmOrderLink">確認接單</a>
{% endif %}

{% if data[0].data[0].status == 2 %}
<a href="/confirm_order?cid={{ data[0].data[0].cid }}&time={{data[0].data[0].time}}&total={{data[0].total}}&rid={{data[0].data[0].r_id}}" id="finishOrderLink">完成送單</a>
{% endif %}


<a href="/own_order">查看已接訂單</a>


<a href="/">返回訂單列表</a>


<form action="/logout" method="POST">
    <input type="submit" value="登出">
</form>


<script>
    document.getElementById('finishOrderLink').addEventListener('click', function (event) {
      const userConfirmed = confirm('確定要完成送單嗎？');
      if (!userConfirmed) {
        event.preventDefault(); // 阻止連結跳轉
      }
    });
  </script>


<script>
    document.getElementById('confirmOrderLink').addEventListener('click', function (event) {
      const userConfirmed = confirm('確定要確認接單嗎？');
      if (!userConfirmed) {
        event.preventDefault(); // 阻止連結跳轉
      }
    });
  </script>

</body>
</html>













