<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>訂單列表</title>
</head>
<body>
<h1>訂單列表</h1>
<p>歡迎，{{data[0].name}}！</p>
<table>
    <tr>
        <th>訂單編號</th>
        <th>餐廳名稱</th>
        <th>餐廳地址</th>
        <th>送餐地址</th>
        <th>詳細資訊</th>
    </tr>
    {% for orders in data[0].data %}
    {% for order in orders %}
        <tr>
            <td>{{ order.oid }}</td>
            <td>{{ order.r_name }}</td>
            <td>{{ order.r_addr }}</td>
            <td>{{ order.c_addr }}</td>
            {% if loop.last %}
            <td>
                <a href="/info?cart_id={{order.oid}}">go</a>  <!-- 我覺得the_order裡面要有cart_id，直接連購物車找資料？ -->
            </td>
            {% endif %}
        </tr>
    {% endfor %}
    <tr><td colspan="5"><hr></td></tr>
    {% endfor %}
    
</table>

<a href="/own_order">查看已接訂單</a>

<form action="/logout" method="POST">
    <input type="submit" value="登出">
</form>

</body>
</html>


