<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>餐點詳細資訊</title>
</head>
<body>
<h1>餐點詳細資訊</h1>
<table>
    <caption>訂單資訊</caption>
    <tr>
        <td>商品名稱</td>
        <td>商品數量</td>
        <td>商品價格</td>
        <!-- 這裡看要不要加 單價*數量 的金額 -->
    </tr>
    {% for rec in data[0].data %}
        <tr>
            <td>{{ rec.name }}</td>
            <td>{{ rec.quantity }}</td>
            <td>{{rec.price}} $</td>
        </tr>
    {% endfor %}

    <tr>
        <td>應付價格</td>
        <td>{{ data[0].total }} $</td>
    </tr>
    
</table>
<br>
<table>
    <caption>位置資訊</caption>
    <tr>
        <th>餐廳名稱</th>
        <th>餐廳地址</th>
        <th>送餐地址</th>
    </tr>
    {% for rec in data[0].data %}
    {% if loop.first %}
    <tr>
        <td>{{ rec.r_addr }}</td>
        <td>{{ rec.r_name }}</td>
        <td>{{ rec.c_addr }}</td>
    </tr>
    {% endif %}
    {% endfor %}
</table>

<a href="/own_order?cid={{ data[0].cid }}&time={{data[0].time}}" id="confirmOrderLink">確認接單</a> <!-- 我覺得the_order裡面要有cart_id，直接連購物車找資料？ -->


<a href="/own_order">查看已接訂單</a>


<a href="/">返回訂單列表</a>


<form action="/logout" method="POST">
    <input type="submit" value="登出">
</form>





<script>
    document.getElementById('confirmOrderLink').addEventListener('click', function (event) {
      const userConfirmed = confirm('確定要確認接單嗎？');
      if (!userConfirmed) {
        event.preventDefault(); // 阻止連結跳轉
      }
    });
  </script>

</body>
</html>













