<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>已接訂單</title>
</head>
<body>
<h1>已接訂單</h1>
<table border="1">
    <tr>
        <th>訂單編號</th>
        <th>餐廳名稱</th>
        <th>餐廳地址</th>
        <th>送餐地址</th>
        <th>詳細資訊</th>
    </tr>
        {% for orders in data %}
        {% set order_num = orders[-1] %}
        {% set order_len = orders | length %}
        <tr>
            <td>{{ order_num }}</td>
            <td>{{ orders[0].r_name }}</td>
            <td>{{ orders[0].r_addr }}</td>
            <td>{{ orders[0].c_addr }}</td>
            <td style="text-align: center;">
                <a href="/info?oid={{orders[0].oid}}&time={{orders[0].time}}">go</a>  <!-- 我覺得the_order裡面要有cart_id，直接連購物車找資料？ -->
            </td>
        </tr>
        {% endfor %}
</table>

<a href="/">返回訂單列表</a>

<form action="/logout" method="POST">
    <input type="submit" value="登出">
</form>

</body>
</html>


